{% extends "polls/base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid col-xs-6" id="qbox">
		<div><a href="#" class="category">Catergory</a></div>
		<br><br>
		<div class="row">
			<div class="col-xs-1"><img class="resize" src="{% static 'polls/images/default_ava.jpg' %}" alt="User_avatar"></div>
			<div class="col-xs-1">Username</div>
		</div>
		<div>{{question.time}}</div>
		<h2>{{question.title}}</h2>		
		
		<div>
			<p>{{question.content}}</p>
		</div>
		<form class="answer-box">
			<div class="row" >
				<div class="col-xs-2">
					<div > 
						<input class="btn btn-primary" type="submit" value="Answer">
					</div>
				</div>
				<div class="col-xs-1">
					<div class="btn"> 
						<a href="#">Follow</a>
					</div>
				</div>
			</div>
			<input class="col-xs-12 form-control" type="text" name="answer" placeholder="Your answer ...">
		</form>
		<hr class="hrstyle" width="100%"> 
		<div class="col-xs-3 no-answer-tag">15 answers</div>

		<div>	{% include 'polls/answers.html' %}
		</div>
		
</div>
{% endblock content %}