{% extends "polls/base.html" %}
{% load static%}

{% block content %}
		<div class="container-fluid" id="mainview">
			<!-- left pannel -->
			<div class="col-xs-2 test1 left-panel" >
				<ul>
					<li><a href="#">Top active users</a></li>
					
						{% for user in top_users %}
							<div class="top_users"><li><a href="#">{{user}}</a></li></div>
						{% endfor %}
					
					<li><a href="#">Top questions</a></li>
					<li><a href="#">Top answers</a></li>
				</ul>
			</div>
			<!-- main view  -->
			<div class="col-xs-8 test2">
				{% for question in questions %}
					<div class="box">
						<div><a href="#" class="category">Catergory</a></div>
						<h2><a href="{{question}}/">Question title {{question}}</a></h2>
						<div>Time</div>
						<br>
						<div class="row">
							<div class="col-xs-1"><img class="resize" src="{% static 'polls/default_ava.jpg' %}" alt="User_avatar"></div>
							<div class="col-xs-1">Username</div>
						</div>
						
						<div>
							<p>(Random Answer Text) Imagine there’s a weatherman who lives in Whoville, Jim, who spends his days keeping records of past, current, and predicted weather conditions. Whenever somebody in Whoville wants to know the weather, they call him up on the telephone (1–800-WEATHER) and make their inquiry. When you call Jim, you must make your inquiry in a speci</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
{% endblock content %}