{% extends "polls/base.html" %}
{% load static%}

{% block content %}
		<div class="container-fluid" id="mainview">
			<!-- left pannel -->
			<div class="col-xs-2 test1 left-panel" >
				<ul>
					<li><a href="#">Top active users</a></li>
					
						{% for user in top_users %}
							<div class="top_users"><li><a href="#">{{user}}</a></li></div>
						{% endfor %}
					
					<li><a href="#">Top questions</a></li>
					<li><a href="#">Top answers</a></li>
				</ul>
			</div>
			<!-- main view  -->
			<div class="col-xs-8 test2">
				{% for question in questions %}
					<div class="box">
						<div><a href="#" class="category">Catergory</a></div>
						<h2><a href="{% url 'polls:details' question.id %}">{{question.title}}</a></h2>
						<div>{{question.time}}</div>
						<br>
						<div class="row">
							<div class="col-xs-1"><img class="resize" src="{% static 'polls/images/default_ava.jpg' %}" alt="User_avatar"></div>
							<div class="col-xs-1">Username</div>
						</div>
						
						<div>
							<p>{{question.content}}</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
{% endblock content %}